.navbar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 40px;
    height: 60px;
    border-left: 4px solid #007bff; /* Blue vertical line */
    padding-bottom: 2px;
  }
  
  .site-name {
    font-size: 20px;
    font-weight: normal;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 3px;
  }
  
  .dropdown {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 40px;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
  min-width: 160px;
}


.dropdown-content a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}