body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8F8FF;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F8FBF8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 90vh;
}

.pfpcard {
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F8FBF8;
    margin-top: 40px;
    text-align: center;
}

.sidebar.open .pfpcard {
    display: flex;
}

.pfpcard img{
    width: 100px;
    height: 100px;
    border-radius: 60%;
    object-fit: cover;
    border-radius: 2px solid #ccc;
    padding-top: 25px;
    padding-bottom: 20px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 0;
    width: 40px;
    transition: width 0.3s ease;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.sidebar.open {
    width: 18%;
}

.menu-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

.sidebar a {
    display: block;
    margin: 15px 0; 
    color: #333;
    text-decoration: none;
    font-weight:bold;
    text-align: center;
    position: relative;
    background-color: #EAEDFB;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    top: 11%;
    font-size: 16px;
}

.sidebar a:hover {
    background-color: #c8d1fa;
    color: black;
}

.sidebar a:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar a:hover:before {
    opacity: 1;
}

.main::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    transition: flex 0.3 ease;
    display: flex;
    flex-direction: column;
}


.profile-header {
    position: relative;
    height: 150px;
    background-color: #333;
}

.profile-banner {
    height: 100%;
    background-color: #333;
}

.profile-photo {
     position: absolute;
     bottom: -40px;
     left: 20px;
     width: 120px;
     height: 120px;
     border: 3px solid #fff;
     border-radius: 50%;
     background-color: #ddd;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #333;
     font-size: 12px;
    font-weight: bold;
}

#image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #333;
    border-radius: 50%;
}

#banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
     padding: 20px;
     padding-top: 40px;
     text-align: left;
}

.profile-info h1 {
font-size: 1.5rem;
color: #333;
}

.profile-info span {
font-size: 0.9rem;
color: gray;
}

.profile-info p {
font-size: 0.9rem;
color: #666;
margin-top: 5px;
}

.profile-info a {
color: #0073b1;
text-decoration: none;
}

.post {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}